@{
    ViewBag.Title = "SOBRE O ALPHA";
}
<h1>@ViewBag.Title</h1>


<h5>
    <p>
        O sistema Alpha foi desenvolvido pensando nos clientes de nossos hotéis e pousadas, oferecendo uma interface intuitiva, acessível e interativa.
        <br /> <br />
        Aproveite conosco essa nova experiência!! <br /> <br />
        SEJA mais, <br />
        PEÇA mais, <br />
        USE Alpha. <br />
    </p>
</h5>
