@{
    ViewBag.Title = "FALE CONOSCO";
}
<h1>@ViewBag.Title</h1>
<h4>Se tiver qualquer problema com o sistema, contate-nos. Estamos a sua disposição!</h4>

<address>
    <strong>Desenvolvido por AgileTech<br /></strong>
    Avenida Autonomista, 987<br />
    <abbr title="Telefone para Contato1">Telefone:</abbr>
    (11)4526-7652<br />
    <abbr title="Telefone para Contato2">Telefone:</abbr>
    (11)5667-9894
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">AgileTech@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingAgileTech@gmail.com</a>
</address>